<div id="<%= dom_id multum %>">
  <p>
    <strong>Valor:</strong>
    <%= multum.valor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= multum.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= multum.estado %>
  </p>

  <p>
    <strong>Prestamo:</strong>
    <%= multum.Prestamo_id %>
  </p>

</div>
