<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= usuario.apellido %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= usuario.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= usuario.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= usuario.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>
<!--
  <p>
    <strong>Or:</strong>
    <%= usuario.or %>
  </p>
-->
</div>
